:root {
	--web-view-ids: webIndustries__1,industries_Tablet__4,industries_Mobile__4;
	--web-view-name: webIndustries – 1;
	--web-view-id: webIndustries__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: true;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
	--web-page-font: Segoe UI;
}
#webIndustries__1,
#industries_Tablet__4,
#industries_Mobile__4 {
	display: none;
}
@media (min-width: 1440px) {
	.mediaViewInfo {
		--web-view-name: webIndustries – 1;
		--web-view-id: webIndustries__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#webIndustries__1 {
		position: absolute;
		display: block;
		width: 1440px;
		height: 7034px;
		font-family: Segoe UI;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: webIndustries – 1;
		--web-view-id: webIndustries__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	#group_4 {
		position: fixed;
		width: 1566px;
		height: 70px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#topnav {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 55px;
		
	  }
	  
	  #topnav a {
		  
		height: 70px;
		float: left;
		color: #707070;
		text-align: center;
		padding: 14px 18px;
		display: block;
		text-decoration: none;
		font-family: Segoe UI;
		font-weight: 400;
		font-size: 18px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  #topnav1 {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 45px;
		z-index: 10000;
		width: 100%;
		
		
		
		
	  }
	  
	  #topnav1 a {
		  
	
		float: left;
		color: #000000;
		text-align: center;
		padding: 13px 18px;
		display: block;
		
		text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav1 a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav1 a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  .content {
		padding: 16px;
	  }
	  
	  .sticky {
		position: fixed;
		top: 0;
		width: 100%;
	  }
	  
	  .sticky + .content {
		padding-top: 60px;
	  }
	#Path_97 {
		position: absolute;
		width: 1440px;
		height: 2472.71px;
		left: 0px;
		top: 891px;
		overflow: visible;
	}
	#Rectangle_64 {
		position: absolute;
		width: 1440px;
		height: 234px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#ITF {
		position: absolute;
		width: 275px;
		height: 218px;
		left: 84px;
		top: 8px;
		overflow: visible;
	}
	#industry-2633878_1280 {
		opacity: 0.91;
		position: absolute;
		width: 1440px;
		height: 600px;
		left: 0px;
		top: 291px;
		overflow: visible;
	}
	#Rectangle_68 {
		opacity: 0.32;
		fill: rgba(4,4,4,1);
	}
	.Rectangle_68 {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 600px;
		left: 0px;
		top: 291px;
	}
	#Industries {
		left: 957px;
		top: 600px;
		position: absolute;
		overflow: visible;
		width: 340px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 73px;
		color: rgba(255,255,255,1);
	}
	#But_I_must_explain_to_you_how_ {
		left: 145px;
		top: 740px;
		position: absolute;
		overflow: visible;
		width: 1152px;
		height: 108px;
		text-align: right;
		font-family: Segoe UI, Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#Group_28 {
		position: absolute;
		width: 1334px;
		height: 1156px;
		left: 53px;
		top: 1040px;
		overflow: visible;
	}
	#wallpaperflarecom_wallpaper_4 {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 500px;
		top: 0px;
		overflow: visible;
	}
	#hand-care-medicine-healthy-hea {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 853.553px;
		top: 131.802px;
		overflow: visible;
	}
	#supermarket-cart-shopping-groc {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 1000px;
		top: 450px;
		overflow: visible;
	}
	#energy-wind-turbines-155047905 {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 853.553px;
		top: 768.198px;
		overflow: visible;
	}
	#pxfuelcom_7 {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 500px;
		top: 900px;
		overflow: visible;
	}
	#pxfuelcom_7_bn {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#education-1959551_1920 {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 146.447px;
		top: 768.198px;
		overflow: visible;
	}
	#pxfuelcom_5 {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 0px;
		top: 450px;
		overflow: visible;
	}
	#technology-wheel-automobile-bi {
		position: absolute;
		width: 334px;
		height: 256px;
		left: 146.447px;
		top: 131.802px;
		overflow: visible;
	}
	#Rectangle_128 {
		fill: rgba(238,238,238,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_128 {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 650px;
		left: 0px;
		top: 2432px;
	}
	#Rectangle_129 {
		fill: rgba(238,238,238,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_129 {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 650px;
		left: 0px;
		top: 3296px;
	}
	#Rectangle_156_bu {
		fill: url(#Rectangle_156_bu);
	}
	.Rectangle_156_bu {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 580px;
		left: 0px;
		top: 6611px;
	}
	#ITF_bv {
		filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.478));
		position: absolute;
		width: 275px;
		height: 260px;
		left: 181px;
		top: 6681px;
		overflow: visible;
	}
	#_2020_by_IT {
		left: 273px;
		top: 6958px;
		position: absolute;
		overflow: visible;
		width: 98px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Find_us_on {
		left: 1019px;
		top: 6958px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Quick_Links {
		left: 548px;
		top: 6746px;
		position: absolute;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Explore {
		left: 729px;
		top: 6746px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#About {
		left: 870px;
		top: 6746px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Site_Information {
		left: 1005px;
		top: 6746px;
		position: absolute;
		overflow: visible;
		width: 150px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Home {
		left: 547px;
		top: 6787px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_b {
		left: 728px;
		top: 6785px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ca {
		left: 870px;
		top: 6785px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cb {
		left: 1004px;
		top: 6787px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cc {
		left: 547px;
		top: 6831px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cd {
		left: 728px;
		top: 6829px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ce {
		left: 870px;
		top: 6829px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cf {
		left: 1004px;
		top: 6831px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cg {
		left: 547px;
		top: 6875px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ch {
		left: 728px;
		top: 6873px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ci {
		left: 870px;
		top: 6873px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cj {
		left: 1004px;
		top: 6875px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Icon_awesome-linkedin {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-linkedin {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1115.137px;
		top: 6953.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-twitter-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-twitter-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1223.75px;
		top: 6953.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-facebook-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-facebook-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1169.568px;
		top: 6953.25px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 768px) and (max-width: 1439px) {
	.mediaViewInfo {
		--web-view-name: industries Tablet – 4;
		--web-view-id: industries_Tablet__4;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#industries_Tablet__4 {
		position: absolute;
		display: block;
		width: 768px;
		height: 1024px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: industries Tablet – 4;
		--web-view-id: industries_Tablet__4;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_76_ck {
		fill: url(#Rectangle_76_ck);
	}
	.Rectangle_76_ck {
		width: 768.05px;
		height: 216px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.0498,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_cl {
		position: absolute;
		width: 196px;
		height: 212px;
		left: 285.95px;
		top: 5.547px;
		overflow: visible;
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	.mediaViewInfo {
		--web-view-name: industries Mobile – 4;
		--web-view-id: industries_Mobile__4;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#industries_Mobile__4 {
		position: absolute;
		display: block;
		width: 360px;
		height: 640px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: industries Mobile – 4;
		--web-view-id: industries_Mobile__4;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_77_cp {
		fill: url(#Rectangle_77_cp);
	}
	.Rectangle_77_cp {
		width: 360.314px;
		height: 125px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.1819,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_cq {
		position: absolute;
		width: 99px;
		height: 119px;
		left: 131px;
		top: 2.547px;
		overflow: visible;
	}
}

