:root {
	--web-view-ids: webServices__1,Services_Tablet__3,services_Mobile__3;
	--web-view-name: webServices – 1;
	--web-view-id: webServices__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: true;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
	--web-page-font: Segoe UI;
}
#webServices__1,
#Services_Tablet__3,
#services_Mobile__3 {
	display: none;
}
@media (min-width: 1440px) {
	.mediaViewInfo {
		--web-view-name: webServices – 1;
		--web-view-id: webServices__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#webServices__1 {
		position: absolute;
		display: block;
		width: 1440px;
		height: 7034px;
		font-family: Segoe UI;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: webServices – 1;
		--web-view-id: webServices__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	#group_4 {
		position: fixed;
		width: 1566px;
		height: 70px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#topnav {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 55px;
		
	  }
	  
	  #topnav a {
		  
		height: 70px;
		float: left;
		color: #707070;
		text-align: center;
		padding: 14px 18px;
		display: block;
		text-decoration: none;
		font-family: Segoe UI;
		font-weight: 400;
		font-size: 18px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  #topnav1 {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 45px;
		z-index: 10000;
		width: 100%;
		
		
		
		
	  }
	  
	  #topnav1 a {
		  
	
		float: left;
		color: #000000;
		text-align: center;
		padding: 13px 18px;
		display: block;
		
		text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav1 a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav1 a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  .content {
		padding: 16px;
	  }
	  
	  .sticky {
		position: fixed;
		top: 0;
		width: 100%;
	  }
	  
	  .sticky + .content {
		padding-top: 60px;
	  }
	#Rectangle_64 {
		position: absolute;
		width: 1440px;
		height: 234px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#ITF {
		position: absolute;
		width: 275px;
		height: 218px;
		left: 84px;
		top: 8px;
		overflow: visible;
	}
	#pxfuelcom_3 {
		opacity: 0.86;
		position: absolute;
		width: 1440px;
		height: 600px;
		left: 0px;
		top: 291px;
		overflow: visible;
	}
	#Services {
		left: 569px;
		top: 345px;
		position: absolute;
		overflow: visible;
		width: 261px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 73px;
		color: rgba(255,255,255,1);
	}
	#But_I_must_explain_to_you_how_ {
		left: 145px;
		top: 495px;
		position: absolute;
		overflow: visible;
		width: 1152px;
		height: 108px;
		text-align: center;
		font-family: Segoe UI, Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_65_bg {
		fill: url(#Rectangle_65_bg);
	}
	.Rectangle_65_bg {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 5941px;
		left: 0px;
		top: 828px;
	}
	#S4MO_00 {
		fill: rgba(214,214,214,1);
	}
	.S4MO_00 {
		filter: drop-shadow(-90px 20px 6px rgba(255, 255, 255, 0.29));
		position: absolute;
		overflow: visible;
		width: 884px;
		height: 501px;
		left: 699px;
		top: 1466px;
	}
	#Rectangle_90 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_90 {
		filter: drop-shadow(90px 20px 6px rgba(255, 255, 255, 0.29));
		position: absolute;
		overflow: visible;
		width: 924px;
		height: 501px;
		left: -105px;
		top: 959px;
	}
	#NoPath_-_Copy {
		position: absolute;
		width: 820px;
		height: 472px;
		left: -121px;
		top: 959px;
		overflow: visible;
	}
	#But_I_must_explain_to_you_how__bk {
		left: 886px;
		top: 1186px;
		position: absolute;
		overflow: visible;
		width: 508px;
		height: 202px;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#But_I_must_explain_to_you_how__bl {
		left: 108px;
		top: 1702px;
		position: absolute;
		overflow: visible;
		width: 508px;
		height: 227px;
		text-align: right;
		font-family: Segoe UI, Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,255,255,1);
	}
	#SAP_HANA__Services {
		left: 886px;
		top: 998px;
		position: absolute;
		overflow: visible;
		width: 338px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
	#SAP_Audit__GRC_Services {
		left: 239px;
		top: 1516px;
		position: absolute;
		overflow: visible;
		width: 377px;
		white-space: nowrap;
		text-align: right;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 65px;
		color: rgba(255,255,255,1);
	}
	#Rectangle_123 {
		fill: rgba(238,238,238,1);
	}
	.Rectangle_123 {
		filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.78));
		position: absolute;
		overflow: visible;
		width: 1220px;
		height: 657px;
		left: 140px;
		top: 2016px;
	}
	#SAP_Implementation__Support_Se {
		left: 238px;
		top: 2058px;
		position: absolute;
		overflow: visible;
		width: 966px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 54px;
		color: rgba(0,0,0,1);
	}
	#Rectangle_124 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_124 {
		filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.839));
		position: absolute;
		overflow: visible;
		width: 602px;
		height: 420px;
		left: 140px;
		top: 2631px;
	}
	#Rectangle_127 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_127 {
		filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.839));
		position: absolute;
		overflow: visible;
		width: 602px;
		height: 410px;
		left: 728px;
		top: 3340px;
	}
	#Rectangle_125 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_125 {
		filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.839));
		position: absolute;
		overflow: visible;
		width: 602px;
		height: 722px;
		left: 728px;
		top: 2631px;
	}
	#Rectangle_126 {
		fill: rgba(255,255,255,1);
	}
	.Rectangle_126 {
		filter: drop-shadow(0px 20px 10px rgba(0, 0, 0, 0.839));
		position: absolute;
		overflow: visible;
		width: 602px;
		height: 714px;
		left: 140px;
		top: 3036px;
	}
	#SAP_Security_Assessment___Auth {
		left: 168px;
		top: 2659px;
		position: absolute;
		overflow: visible;
		width: 435px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(24,108,100,1);
	}
	#SAP_GRC_Services {
		left: 772px;
		top: 2667px;
		position: absolute;
		overflow: visible;
		width: 275px;
		white-space: nowrap;
		text-align: right;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(31,90,114,1);
	}
	#SAP_Identity_Management_Soluti {
		left: 156px;
		top: 3088px;
		position: absolute;
		overflow: visible;
		width: 412px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(30,97,143,1);
	}
	#SAP_Licensing_Optimization {
		left: 772px;
		top: 3362px;
		position: absolute;
		overflow: visible;
		width: 219px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 35px;
		color: rgba(193,122,92,1);
	}
	#Rectangle_141_bz {
		fill: url(#Rectangle_141_bz);
	}
	.Rectangle_141_bz {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 580px;
		left: 0px;
		top: 6634px;
	}
	#ITF_b {
		filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.478));
		position: absolute;
		width: 275px;
		height: 260px;
		left: 181px;
		top: 6704px;
		overflow: visible;
	}
	#_2020_by_IT {
		left: 273px;
		top: 6981px;
		position: absolute;
		overflow: visible;
		width: 98px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Find_us_on {
		left: 1019px;
		top: 6981px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Quick_Links {
		left: 548px;
		top: 6769px;
		position: absolute;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Explore {
		left: 729px;
		top: 6769px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#About {
		left: 870px;
		top: 6769px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Site_Information {
		left: 1005px;
		top: 6769px;
		position: absolute;
		overflow: visible;
		width: 150px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Home {
		left: 547px;
		top: 6810px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_b {
		left: 728px;
		top: 6808px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ca {
		left: 870px;
		top: 6808px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cb {
		left: 1004px;
		top: 6810px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cc {
		left: 547px;
		top: 6854px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cd {
		left: 728px;
		top: 6852px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ce {
		left: 870px;
		top: 6852px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cf {
		left: 1004px;
		top: 6854px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cg {
		left: 547px;
		top: 6898px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ch {
		left: 728px;
		top: 6896px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ci {
		left: 870px;
		top: 6896px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cj {
		left: 1004px;
		top: 6898px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Icon_awesome-linkedin {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-linkedin {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1115.137px;
		top: 6976.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-twitter-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-twitter-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1227.75px;
		top: 6976.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-facebook-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-facebook-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1171.568px;
		top: 6976.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#S4MO_00_cm {
		position: absolute;
		width: 785px;
		height: 472px;
		left: 699px;
		top: 1466px;
		overflow: visible;
	}
}
@media (min-width: 768px) and (max-width: 1439px) {
	.mediaViewInfo {
		--web-view-name: Services Tablet – 3;
		--web-view-id: Services_Tablet__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Times New Roman;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#Services_Tablet__3 {
		position: absolute;
		display: block;
		width: 768px;
		height: 1024px;
		font-family: Times New Roman;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: Services Tablet – 3;
		--web-view-id: Services_Tablet__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Times New Roman;
	}
	#Rectangle_74_cq {
		fill: url(#Rectangle_74_cq);
	}
	.Rectangle_74_cq {
		width: 768.05px;
		height: 216px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.0496,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_cr {
		position: absolute;
		width: 196px;
		height: 212px;
		left: 285.95px;
		top: 5.547px;
		overflow: visible;
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	.mediaViewInfo {
		--web-view-name: services Mobile – 3;
		--web-view-id: services_Mobile__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#services_Mobile__3 {
		position: absolute;
		display: block;
		width: 360px;
		height: 640px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: services Mobile – 3;
		--web-view-id: services_Mobile__3;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_75_cv {
		fill: url(#Rectangle_75_cv);
	}
	.Rectangle_75_cv {
		width: 360.314px;
		height: 125px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.1819,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_cw {
		position: absolute;
		width: 99px;
		height: 119px;
		left: 131px;
		top: 2.547px;
		overflow: visible;
	}
}

