:root {
	--web-view-ids: webTrainings__1,training_Tablet__7,training_Mobile__7;
	--web-view-name: webTrainings – 1;
	--web-view-id: webTrainings__1;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-enable-scale-up: true;
	--web-scale-on-resize: true;
	--web-show-scale-controls: false;
	--web-scale-on-double-click: false;
	--web-center-horizontally: true;
	--web-center-vertically: false;
	--web-actual-size-on-double-click: false;
	--web-navigate-on-keypress: false;
	--web-refresh-for-changes: false;
	--web-add-image-compare: false;
	--web-show-by-media-query: false;
	--web-application: true;
	--web-show-navigation-controls: false;
	--web-enable-deep-linking: true;
	--web-is-overlay: false;
	--web-page-font: Segoe UI;
}
#webTrainings__1,
#training_Tablet__7,
#training_Mobile__7 {
	display: none;
}
@media (min-width: 1440px) {
	.mediaViewInfo {
		--web-view-name: webTrainings – 1;
		--web-view-id: webTrainings__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#webTrainings__1 {
		position: absolute;
		display: block;
		width: 1440px;
		height: 6098px;
		font-family: Segoe UI;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: webTrainings – 1;
		--web-view-id: webTrainings__1;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
		--web-page-font: Segoe UI;
	}
	#group_4 {
		position: fixed;
		width: 1566px;
		height: 70px;
		left: 0px;
		top: 230px;
		overflow: visible;
	}
	#topnav {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 55px;
		
	  }
	  
	  #topnav a {
		  
		height: 70px;
		float: left;
		color: #707070;
		text-align: center;
		padding: 14px 18px;
		display: block;
		text-decoration: none;
		font-family: Segoe UI;
		font-weight: 400;
		font-size: 18px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  #topnav1 {
		overflow: hidden;
		background-color: rgb(255, 255, 255);
		height: 45px;
		z-index: 10000;
		width: 100%;
		
		
		
		
	  }
	  
	  #topnav1 a {
		  
	
		float: left;
		color: #000000;
		text-align: center;
		padding: 13px 18px;
		display: block;
		
		text-decoration: none;
		font-weight: 500;
		font-size: 20px;
		transition: all .1s ease-Out;
		
	  }
	  
	  #topnav1 a:hover {
		background-color: orange;
		color: rgb(255, 255, 255);
	  }
	  
	  #topnav1 a.active {
		background-color: #4CAF50;
		color: white;
	  }
	  .content {
		padding: 16px;
	  }
	  
	  .sticky {
		position: fixed;
		top: 0;
		width: 100%;
	  }
	  
	  .sticky + .content {
		padding-top: 60px;
	  }
	#Rectangle_131_bb {
		fill: url(#Rectangle_131_bb);
	}
	.Rectangle_131_bb {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 5008px;
		left: 0px;
		top: 891px;
	}
	#Rectangle_64 {
		position: absolute;
		width: 1440px;
		height: 234px;
		left: 0px;
		top: 0px;
		overflow: visible;
	}
	#ITF {
		position: absolute;
		width: 275px;
		height: 218px;
		left: 84px;
		top: 8px;
		overflow: visible;
	}
	#USAIDs_Computer_Skills_Trainin {
		opacity: 0.86;
		position: absolute;
		width: 1445px;
		height: 600px;
		left: 0px;
		top: 299px;
		overflow: visible;
	}
	#Rectangle_71_bg {
		opacity: 0.47;
		fill: url(#Rectangle_71_bg);
	}
	.Rectangle_71_bg {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 370px;
		left: 0px;
		top: 529px;
	}
	#But_I_must_explain_to_you_how_ {
		left: 140px;
		top: 736px;
		position: absolute;
		overflow: visible;
		width: 694px;
		height: 120px;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: italic;
		font-weight: normal;
		font-size: 27px;
		color: rgba(255,170,0,1);
	}
	#Trainings {
		left: 140px;
		top: 563px;
		position: absolute;
		overflow: visible;
		width: 309px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 73px;
		color: rgba(255,170,0,1);
	}
	#Rectangle_100 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_100 {
		position: absolute;
		overflow: visible;
		width: 1160px;
		height: 1027px;
		left: 140px;
		top: 1079px;
	}
	#Rectangle_105 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_105 {
		position: absolute;
		overflow: visible;
		width: 1180px;
		height: 514px;
		left: 140px;
		top: 2793px;
	}
	#Rectangle_101 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_101 {
		position: absolute;
		overflow: visible;
		width: 278px;
		height: 535px;
		left: 140px;
		top: 2182px;
	}
	#Rectangle_102 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_102 {
		position: absolute;
		overflow: visible;
		width: 278px;
		height: 535px;
		left: 728px;
		top: 2182px;
	}
	#Rectangle_104 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_104 {
		position: absolute;
		overflow: visible;
		width: 278px;
		height: 535px;
		left: 434px;
		top: 2182px;
	}
	#Rectangle_103 {
		fill: rgba(255,255,255,1);
		stroke: rgba(112,112,112,1);
		stroke-width: 1px;
		stroke-linejoin: miter;
		stroke-linecap: butt;
		stroke-miterlimit: 4;
		shape-rendering: auto;
	}
	.Rectangle_103 {
		position: absolute;
		overflow: visible;
		width: 278px;
		height: 535px;
		left: 1022px;
		top: 2182px;
	}
	#Rectangle_145_bq {
		fill: url(#Rectangle_145_bq);
	}
	.Rectangle_145_bq {
		position: absolute;
		overflow: visible;
		width: 1440px;
		height: 580px;
		left: 0px;
		top: 5699px;
	}
	#ITF_br {
		filter: drop-shadow(0px -5px 6px rgba(0, 0, 0, 0.478));
		position: absolute;
		width: 275px;
		height: 260px;
		left: 181px;
		top: 5769px;
		overflow: visible;
	}
	#_2020_by_IT {
		left: 273px;
		top: 6046px;
		position: absolute;
		overflow: visible;
		width: 98px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: bold;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Find_us_on {
		left: 1019px;
		top: 6046px;
		position: absolute;
		overflow: visible;
		width: 74px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 16px;
		color: rgba(0,0,0,1);
	}
	#Quick_Links {
		left: 548px;
		top: 5834px;
		position: absolute;
		overflow: visible;
		width: 106px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Explore {
		left: 729px;
		top: 5834px;
		position: absolute;
		overflow: visible;
		width: 69px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#About {
		left: 870px;
		top: 5834px;
		position: absolute;
		overflow: visible;
		width: 58px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Site_Information {
		left: 1005px;
		top: 5834px;
		position: absolute;
		overflow: visible;
		width: 150px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 21px;
		color: rgba(234,230,230,1);
	}
	#Home {
		left: 547px;
		top: 5875px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_bz {
		left: 728px;
		top: 5873px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_b {
		left: 870px;
		top: 5873px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ca {
		left: 1004px;
		top: 5875px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cb {
		left: 547px;
		top: 5919px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cc {
		left: 728px;
		top: 5917px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cd {
		left: 870px;
		top: 5917px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ce {
		left: 1004px;
		top: 5919px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cf {
		left: 547px;
		top: 5963px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_cg {
		left: 728px;
		top: 5961px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ch {
		left: 870px;
		top: 5961px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Home_ci {
		left: 1004px;
		top: 5963px;
		position: absolute;
		overflow: visible;
		width: 49px;
		white-space: nowrap;
		text-align: left;
		font-family: Segoe UI, Segoe UI;
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		color: rgba(214,210,210,1);
	}
	#Icon_awesome-linkedin {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-linkedin {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1115.137px;
		top: 6041.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-twitter-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-twitter-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1223.75px;
		top: 6041.25px;
		transform: matrix(1,0,0,1,0,0);
	}
	#Icon_awesome-facebook-square {
		fill: rgba(0,0,0,1);
	}
	.Icon_awesome-facebook-square {
		overflow: visible;
		position: absolute;
		width: 31.5px;
		height: 31.5px;
		left: 1169.568px;
		top: 6041.25px;
		transform: matrix(1,0,0,1,0,0);
	}
}
@media (min-width: 768px) and (max-width: 1439px) {
	.mediaViewInfo {
		--web-view-name: training Tablet – 7;
		--web-view-id: training_Tablet__7;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#training_Tablet__7 {
		position: absolute;
		display: block;
		width: 768px;
		height: 1024px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: training Tablet – 7;
		--web-view-id: training_Tablet__7;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_82_cg {
		fill: url(#Rectangle_82_cg);
	}
	.Rectangle_82_cg {
		width: 768.05px;
		height: 216px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.0498,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_ch {
		position: absolute;
		width: 196px;
		height: 212px;
		left: 285.95px;
		top: 5.547px;
		overflow: visible;
	}
}
@media (min-width: 0px) and (max-width: 767px) {
	.mediaViewInfo {
		--web-view-name: training Mobile – 7;
		--web-view-id: training_Mobile__7;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	* {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		border: none;
	}
	#training_Mobile__7 {
		position: absolute;
		display: block;
		width: 360px;
		height: 640px;
		background-color: rgba(255,255,255,1);
		overflow: hidden;
		--web-view-name: training Mobile – 7;
		--web-view-id: training_Mobile__7;
		--web-scale-to-fit: true;
		--web-scale-to-fit-type: width;
		--web-enable-scale-up: true;
		--web-scale-on-resize: true;
		--web-center-horizontally: true;
		--web-application: true;
		--web-enable-deep-linking: true;
	}
	#Rectangle_83_cl {
		fill: url(#Rectangle_83_cl);
	}
	.Rectangle_83_cl {
		width: 360.314px;
		height: 125px;
		position: absolute;
		overflow: visible;
		transform: matrix(1,0,0,1,-0.1816,-0.4531) rotate(0deg);
		transform-origin: center;
	}
	#ITF_cm {
		position: absolute;
		width: 99px;
		height: 119px;
		left: 131px;
		top: 2.547px;
		overflow: visible;
	}
}
@font-face {
	font-family: 'Segoe UI';
	src: url('fonts/SEGOEUI.TTF') ;
	}
